<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :answers do |a| %>
    <div class="form-check">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><%= a.radio_button :option, class: '' %></div>
        </div>
        <%= a.text_area :description, readonly: true, class: 'form-control bg-white', rows: 1 %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Answer', class: 'btn btn-danger' %>
  </div>
<% end %>
