<div class="jumbotron bg-white">
  <div class="row">
    <div class="col">
      <h1>Inbox</h1>
      <p>
        This inbox is to message
        <% if @conversation.first_user_id == current_user.id %>
          your <span class="text-danger">Gift Receiver <%= User.find(@conversation.second_user_id).name %></span> from <span class="text-danger"><%= @event = Event.find(@conversation.event_id).title %></span>
        <% elsif @conversation.second_user_id == current_user.id %>
          your <span class="text-danger">Secret Santa</span> from <span class="text-danger"><%= @event = Event.find(@conversation.event_id).title %></span>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <th>Questions</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @messages.reverse.drop(1).reverse.each do |message| %>
            <tr>
              <td><%= message.question %></td>
              <td><%= link_to 'Show', message %></td>
              <td><%= link_to 'Edit', edit_message_path(message) %></td>
              <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col">
      <%= form_with(model: @message, local: true) do |form| %>
        <% if @message.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      
            <ul>
            <% @message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.hidden_field :conversation_id, :value => @conversation.id %>
        <%= form.hidden_field :sender_id, :value => @message.sender_id %>
        <%= form.hidden_field :receiver_id, :value => @message.receiver_id %>

        <div class="form-group">
          <%= form.label :question %>
          <%= form.text_area :question, class: 'form-control' %>
        </div>
      
        <%= form.fields_for :answers do |a| %>
          <div class="form-group">
            <%= a.label :description %>
            <%= a.text_area :description, class: 'form-control' %>
          </div>
        <% end %>
      
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>