<div class="jumbotron bg-white">
  <div class="row">
    <div class="col">
      <h1>Inbox</h1>
      <p>
        This inbox is to message
        <% if @conversation.first_user_id == current_user.id %>
          your <span class="text-danger">Gift Receiver <%= User.find(@conversation.second_user_id).name %></span> from <span class="text-danger"><%= @event = Event.find(@conversation.event_id).title %></span>
        <% elsif @conversation.second_user_id == current_user.id %>
          your <span class="text-danger">Secret Santa</span> from <span class="text-danger"><%= @event = Event.find(@conversation.event_id).title %></span>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <th>Questions</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @messages.each do |message| %>
            <tr>
              <td><%= message.question %></td>
              <td><%= link_to 'Show', message %></td>
              <td><%= link_to 'Edit', edit_message_path(message) %></td>
              <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Message', new_message_path %>
    </div>
  </div>
</div>