<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Members:</strong>
  <%= @event.members %>
</p>

<p>
  <strong>Price start:</strong>
  <%= @event.price_start %>
</p>

<p>
  <strong>Price end:</strong>
  <%= @event.price_end %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @event.deadline %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @event.admin_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
