<div class="row">
  <div class="col-4">

    <h2>
      <%= @event.title %>
    </h2>

    <p>
      <%= @event.description %>
    </p>

    <p>
      <strong>Price range:</strong>
      $<%= @event.price_start %> -
      $<%= @event.price_end %> CLP
    </p>

    <p>
      <strong>Date:</strong>
      <%= @event.deadline.strftime("%B %d, %Y") %>
    </p>

    <p>
      <strong>Hour:</strong>
      <%= @event.deadline.strftime("%I:%M%p") %>
    </p>
    <h5>Share Link:</h5>
    <div class="input-group">
      <input type="text" id="eventLink" class="form-control" value="http://localhost:3000/shared_event/<%= @event.access_code_link %>">
      <div class="input-group-append">
        <button class="input-group-text" id="inputButton"><i class="far fa-clipboard"></i></button>
      </div>
    </div>
    <br><br>
    <%= link_to 'Back', events_path, class: 'btn btn-danger' %>
      <% if @event.event_chat == false and @event.admin_id == current_user.id %>
      <%= 
      link_to_if @event.attendances.where(user_id: nil).any?, 'Waiting for users', events_path, class: 'btn btn-secondary disabled' do
        link_to('Distribute Secret Santas', create_conversations_path, class: 'btn btn-dark')
      end
      %>
      <% elsif @event.event_chat == true and @event.admin_id == current_user.id %>
        <%= link_to 'Secret Santas already distributed', events_path, class: 'btn btn-secondary disabled' %>
      <% end %>
  </div>

  <div class="col-8">
    <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Member</th>
        <th scope="col">Status</th>
      </tr>
    </thead>

    <tbody>
      <% @event.attendances.each do |member| %>
        <tr>
          <% @users.each do |u| %>
            <% if member.user_id == u.id %>
              <td><%= image_tag u.image, height: 50, width: 50, class: 'rounded-lg'%></td>
              <td><%= u.name %></td>
            <% end %>
          <% end %>
            <% if member.user_id.nil? %>
            <td><%= image_tag "new-profile", height: 50, width: 50, class: 'rounded-lg' %></td>
            <td>Invitado</td>
            <td><div class="alert alert-secondary text-center">Pending</div></td>
            <% else %>
            <td><div class="alert alert-success text-center">Confirmed</div></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>