<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>

    <h2>
      <%= @event.title %>
    </h2>

    <p>
      <%= @event.description %>
    </p>

    <p>
      <strong>Members:</strong>
      <%= @event.members %>
    </p>

    <%= @event.members %>

    <p>
      <strong>Price range:</strong>
      $<%= @event.price_start %> -
      $<%= @event.price_end %> CLP
    </p>

    <p>
      <strong>Deadline:</strong>
      <%= @event.deadline %>
    </p>

    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>
  </div>
</div>