<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>

    <h2>
      <%= @event.title %>
    </h2>

    <p>
      <%= @event.description %>
    </p>

    <p>
      <strong>Members:</strong>
      <%= @event.members %>
    </p>

    <p>
      <strong>Price range:</strong>
      $<%= @event.price_start %> -
      $<%= @event.price_end %> CLP
    </p>

    <p>
      <strong>Deadline:</strong>
      <%= @event.deadline %>
    </p>
    <%= link_to 'Back', events_path, class: 'btn btn-danger' %>
    <%= link_to '' %>
  </div>

  <div class="col">
    <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Member</th>
        <th scope="col">Status</th>
      </tr>
    </thead>

    <tbody>
      <% @event.attendances.each do |member| %>
        <tr>
          <% @users.each do |u| %>
            <% if member.user_id == u.id %>
              <td><%= image_tag u.image, height: 50, width: 50, class: 'rounded-lg'%></td>
              <td><%= u.name %></td>
            <% else %>
              <td><%= image_tag "new-profile", height: 50, width: 50, class: 'rounded-lg' %></td>
              <td>Invitado</td>
            <% end %>
          <% end %>
            <% if member.user_id.nil? %>
            <td><div class="alert alert-secondary text-center">Pending</div></td>
            <% else %>
            <td><div class="alert alert-success text-center">Confirmed</div></td>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>