<!DOCTYPE html>
<html>
  <head>
    <title>SSS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body class="bg-light">
    <%= render 'layouts/navbar' %>
    <div class="container mt-2">
      <%= render "shared/flash_message" %>
      <%= yield %>
    </div>
  </body>
</html>
